*,
*:before,
*:after
{
  @value: border-box;
  -moz-box-sizing: @value;
  -webkit-box-sizing: @value;
  box-sizing: @value;
}

html,
body
{
  background: #ecf0f1;
  color: #444;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  padding: 10px;
}

.set-size {
  font-size: 10em;
}

.pie-wrapper {
  @size: 1em;
  
  .size(@size, @size);
  display: inline-block;
  position: relative;
  
  .pie
  {
    .size(100%, 100%);
    clip: rect(0, @size, @size, @size / 2);
    left: 0;
    position: absolute;
    top: 0;
  
    .half-circle
    {
      .size(100%, 100%);
      border: @size / 10 solid #3498db;
      border-radius: 50%;
      clip: rect(0, @size / 2, @size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }
  
  .label
  {
    @font-size: @size / 4;
    @font-size-redo: @size * 4;
    
    background: #34495e;
    border-radius: 50%;
    bottom: @font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: @font-size;
    left: @font-size-redo / 10;
    line-height: @font-size-redo * .65;
    position: absolute;
    right: @font-size-redo / 10;
    text-align: center;
    top: @font-size-redo / 10;
    
    .smaller
    {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }
  
  .shadow
  {
    .size(100%, 100%);
    border: @size / 10 solid #bdc3c7;
    border-radius: 50%;
  }
  
  &.style-2
  {    
    .label
    {
      background: none;
      color: #7f8c8d;
    
      .smaller
      {
        color: #bdc3c7;
      }
    }
  }
  
  &.progress-30
  {
    .draw-progress(30, #3498db);
  }
  
  &.progress-60
  {
    .draw-progress(60, #9b59b6);
  }
  
  &.progress-90
  {
    .draw-progress(90, #e67e22);
  }
  
  &.progress-45
  {
    .draw-progress(45, #1abc9c);
  }
  
  &.progress-75
  {
    .draw-progress(75, #8e44ad);
  }
  
  &.progress-95
  {
    .draw-progress(95, #e74c3c);
  }
}

.draw-progress(@progress, @color) when (@progress <= 50)
{
  .pie
  {
    .right-side
    {
      display: none;
    }
  }
}

.draw-progress(@progress, @color) when (@progress > 50)
{
  .pie
  {
    clip: rect(auto, auto, auto, auto);
  
    .right-side
    {
      .transform(rotate(180deg));
    }
  }
}

.draw-progress(@progress, @color)
{
  .pie
  {
    .half-circle
    {
      border-color: @color;
    }
    
    .left-side
    {
      @rotate: @progress * 3.6;
      .transform(rotate(~'@{rotate}deg'));
    }
  }
}

// --
.size(@w, @h) {
  height: @h;
  width: @w;
}

.transform(@value) {
  -webkit-transform: @value;
  -moz-transform: @value;
  -ms-transform: @value;
  -o-transform: @value;
  transform: @value;
}